@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 800px) {
  body {
    font-size: 16px;
  }
}

.pagewrapper {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr auto;
}

h1, h2, h3, h4 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #2E3440;
  margin-top: 0;
  margin-bottom: 0.66em;
  text-align: center;
}
@media screen and (min-width: 800px) {
  h1, h2, h3, h4 {
    text-align: left;
  }
}

h1 {
  font-size: 30px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 36px;
    text-align: left;
  }
}

h2 {
  font-size: 26px;
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 22px;
}
@media screen and (min-width: 800px) {
  h3 {
    font-size: 24px;
  }
}

.h3--basic {
  margin-top: 40px;
}

h4 {
  font-size: 18px;
}
@media screen and (min-width: 800px) {
  h4 {
    font-size: 20px;
  }
}

.h-center {
  text-align: center;
}
@media screen and (min-width: 800px) {
  .h-center {
    text-align: left;
  }
}

.underline::after {
  content: "";
  width: 2.2em;
  height: 2px;
  display: block;
  background-color: #C1BFD1;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .underline::after {
    margin-left: 0;
    margin-right: 0;
  }
}

.topmargin50 {
  margin-top: 50px;
}

a {
  color: inherit;
}
a:hover {
  color: #2E3440;
}

main {
  padding: 40px 0;
}

.section {
  margin: 0 auto;
  max-width: calc(100vw - 40px);
  position: relative;
}
@media screen and (min-width: 800px) {
  .section {
    max-width: 1200px;
    padding: 0 20px;
  }
}
.section--toppadding {
  padding-top: 35px;
}
.section--akce {
  margin-bottom: 60px;
}
.section--flex {
  display: flex;
  justify-content: space-between;
}
.section--flex h2 {
  flex-grow: 1;
}

.grey-wrapper {
  background-color: #F5F5F5;
  padding: 40px 0;
}
.grey-wrapper--small {
  padding: 30px 20px 20px 20px;
  margin-top: 30px;
}
.grey-wrapper--member {
  margin-top: 0;
}

.headline-wrapper {
  background-color: #F6C441;
  padding: 20px 0;
  position: relative;
}
.headline-wrapper h2 {
  color: #4D3A1E;
  margin: 0;
}

.grid-2 {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 800px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}
.grid-2--g40 {
  gap: 40px;
}
.grid-2 img {
  width: 100%;
}
@media screen and (min-width: 800px) {
  .grid-2--zamkar {
    grid-template-columns: 3fr 2fr;
  }
}

.numberbox__number {
  display: block;
  font-size: 50px;
  color: #4D3A1E;
  background-color: #F6C441;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  margin: 40px auto 0 auto;
}
@media screen and (min-width: 800px) {
  .numberbox__number {
    font-size: 80px;
    width: 170px;
    height: 170px;
  }
}
.numberbox__text {
  text-transform: uppercase;
  text-align: center;
}

.mapacr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mapacr svg {
  width: 100%;
  padding-left: 20px;
  display: none;
}
@media screen and (min-width: 800px) {
  .mapacr svg {
    display: block;
  }
}
.mapacr svg .kraj {
  stroke-width: 5px;
  stroke: #F5F5F5;
}
.mapacr svg .kraj:hover, .mapacr svg .kraj:focus {
  fill: #F6C441;
}

.header {
  min-height: 180px;
  background-color: black;
  background-image: linear-gradient(to bottom, rgba(46, 52, 64, 0.5), rgba(46, 52, 64, 0.5)), url(/images/klice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  display: grid;
  place-content: center;
}
@media screen and (min-width: 800px) {
  .header {
    min-height: 400px;
    padding: 50px;
  }
}
.header__headline {
  text-transform: uppercase;
  color: #F6C441;
  font-size: 28px;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 1.5;
  text-shadow: 5px 5px 10px black;
  display: inline-block;
  margin: 0 20px 10px 0;
}
@media screen and (min-width: 800px) {
  .header__headline {
    font-size: 48px;
    margin: 0 50px 0 0;
  }
}
.header__logo {
  height: 120px;
}
@media screen and (min-width: 800px) {
  .header__logo {
    height: 320px;
  }
}
.header--basic {
  min-height: 70px;
  padding: 0;
  background-image: none;
  background-color: #4D3A1E;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .header--basic {
    min-height: 110px;
  }
}
.header--basic .header__headline {
  font-size: 24px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin-right: 0;
  margin-bottom: 15px;
  position: relative;
  top: 10px;
}
@media screen and (min-width: 800px) {
  .header--basic .header__headline {
    font-size: 30px;
    top: 10px;
    margin-bottom: 10px;
  }
}
.header--basic .header__br {
  display: none;
}
.header--basic .header__logo {
  height: 50px;
}
@media screen and (min-width: 800px) {
  .header--basic .header__logo {
    height: 75px;
  }
}
.header--basic .section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-link {
  text-decoration: none;
}

.nav {
  background-color: #2E3440;
  color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}
.nav__checkbox {
  position: absolute;
  left: -99999px;
}
.nav__checkbox:checked ~ .nav__label .nav__icon--ham {
  display: none;
}
.nav__checkbox:checked ~ .nav__label .nav__icon--cross {
  display: inline-block;
}
.nav__checkbox:checked ~ .menu {
  display: flex;
}
.nav__label {
  margin: 15px 20px 10px 20px;
  display: block;
}
@media screen and (min-width: 800px) {
  .nav__label {
    display: none;
  }
}
.nav__icon {
  height: 20px;
  fill: #F6C441;
}
.nav__icon--ham {
  display: inline-block;
}
.nav__icon--cross {
  display: none;
}
.nav__menutext {
  font-size: 20px;
  position: relative;
  bottom: 3px;
  margin-left: 5px;
}

.menu {
  color: white;
  max-width: 300px;
  list-style: none;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  background-color: #2E3440;
  position: absolute;
  margin-top: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 800px) {
  .menu {
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    background-color: none;
    position: relative;
    display: flex;
    padding: 0 20px;
    box-shadow: none;
  }
}
.menu__item {
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 14px 20px;
  border-top: 1px solid #F6C441;
  transition: border-top 0.3s;
}
@media screen and (min-width: 800px) {
  .menu__item {
    display: inline-block;
    font-size: 20px;
    padding: 14px 0 20px 0;
    border-top: 6px solid transparent;
  }
}
.menu__item:hover, .menu__item:focus {
  border-top: 1px solid #F6C441;
  color: inherit;
}
@media screen and (min-width: 800px) {
  .menu__item:hover, .menu__item:focus {
    border-top: 6px solid #F6C441;
  }
}
.menu__item--dropdown {
  font-size: 16px;
  padding: 0;
  display: block;
  border: none;
}
@media screen and (min-width: 800px) {
  .menu__item--dropdown {
    display: inline;
  }
}
.menu__item--dropdown:hover, .menu__item--dropdown:focus {
  color: #F6C441;
  border: none;
}
.menu__item--dropdownlink {
  cursor: default;
}
.menu__item--dropdownlink::after {
  content: "";
  display: inline-block;
  background-image: url(/images/drop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  margin-left: 8px;
  position: relative;
  top: 2px;
}
@media screen and (min-width: 800px) {
  .menu__item--dropdownlink::after {
    top: 0;
  }
}

.dropdown {
  position: relative;
}
.dropdown__content {
  max-height: 0;
  display: block;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
  z-index: 100;
  transform: translate(-8px, -15px);
  box-sizing: content-box;
  transition: max-height 0.3s ease-in-out;
}
@media screen and (min-width: 800px) {
  .dropdown__content {
    position: absolute;
    background-image: linear-gradient(to bottom, #2E3440, #3c424e 25%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
.dropdown:hover .dropdown__content {
  max-height: 100px;
}
.dropdown:hover .menu__item--dropdownlink {
  border-top: 1px solid #F6C441;
}
@media screen and (min-width: 800px) {
  .dropdown:hover .menu__item--dropdownlink {
    border-top: 6px solid #F6C441;
  }
}
.dropdown__list {
  list-style-type: square;
  padding: 10px 20px 0px 50px;
  margin-bottom: 0;
}
@media screen and (min-width: 800px) {
  .dropdown__list {
    padding: 17px 21px 12px 31px;
  }
}
.dropdown__list li {
  padding: 5px 0;
}
@media screen and (min-width: 800px) {
  .dropdown__list li {
    padding: 0;
    margin-bottom: 5px;
  }
}
.dropdown__list li::marker {
  color: #F6C441;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #F6C441;
  border: 0;
  padding: 10px 30px 10px 20px;
  color: #4D3A1E;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-out;
  position: relative;
}
@media screen and (min-width: 800px) {
  .button {
    font-size: 16px;
  }
}
.button::after {
  content: ">";
  transition: all 0.2s ease-out;
  position: absolute;
  right: 16px;
}
.button:hover {
  background-color: #2E3440;
  color: white;
  padding-left: 20px;
}
.button:hover::after {
  content: ">";
  position: absolute;
  right: 12px;
}
.button--about {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 800px) {
  .button--about {
    margin-left: 0;
    margin-right: 0;
  }
}
.button--home-news1 {
  display: none;
}
@media screen and (min-width: 800px) {
  .button--home-news1 {
    display: inline-block;
  }
}
.button--home-news2 {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 800px) {
  .button--home-news2 {
    display: none;
  }
}
.button--newsbox {
  background: none;
  box-shadow: none;
  padding: 0 30px 15px 0;
  align-self: flex-end;
}
.button--newsbox:hover {
  background: none;
  box-shadow: none;
  color: #4D3A1E;
  padding-left: 0;
}
.button--newspage {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px 0 20px auto;
}
.button--back {
  padding: 10px 20px 10px 30px;
}
.button--back::after {
  content: none;
}
.button--back::before {
  content: "<";
  transition: all 0.2s ease-out;
  position: absolute;
  left: 16px;
}
.button--back:hover {
  background-color: #2E3440;
  color: white;
  padding-left: 30px;
}
.button--back:hover::after {
  content: none;
}
.button--back:hover::before {
  content: "<";
  position: absolute;
  left: 12px;
}
.button--article {
  margin-left: auto;
  margin-top: 40px;
  display: block;
  width: -moz-max-content;
  width: max-content;
}
.button--form {
  margin-left: auto;
  margin-top: 20px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}
.button--form::after {
  content: none;
}
.button--form:hover {
  padding: 5px 15px 5px 15px;
}
.button--form:hover::after {
  content: none;
}
.button--oazks {
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: 10px 20px 0 auto;
}
.button--download {
  margin: 20px auto 0 auto;
  padding: 10px 15px;
}
.button--download .button__icon--arrow {
  transform: translateY(0px);
  transition: transform 0.5s;
}
.button--download:hover {
  padding: 10px 15px;
  color: white;
}
.button--download:hover .button__icon--arrow {
  transform: translateY(1.1px);
}
.button__icon {
  margin-left: 7px;
}
.button--akce {
  margin-left: auto;
  margin-top: 40px;
  display: block;
  width: -moz-max-content;
  width: max-content;
}
.button--probehle {
  background-color: #2E3440;
  color: white;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  .button--probehle {
    position: relative;
    top: 0;
  }
}
.button--probehle::after {
  content: "»";
  transform: rotate(90deg);
  font-size: 20px;
  right: 14px;
  top: 7px;
}
.button--probehle:hover {
  background-color: white;
  color: #2E3440;
}
.button--probehle:hover::after {
  content: "»";
  right: 14px;
  top: 10px;
}
.button--members {
  padding: 10px 20px;
  margin: 40px auto;
}
.button--members:hover {
  padding: 10px 20px;
}

.homepage-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-top: 0;
  padding-bottom: 40px;
}
@media screen and (min-width: 800px) {
  .homepage-boxes {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.homepage-box {
  background-color: black;
  background-image: url(/images/klice-male.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 170px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  position: relative;
}
@media screen and (min-width: 800px) {
  .homepage-box {
    height: 280px;
  }
}
.homepage-box__title {
  color: #4D3A1E;
  padding: 0;
  text-align: center;
  margin: 0;
  font-size: 24px;
  line-height: 1.3;
  transition: padding-top 0.3s ease-out;
}
@media screen and (min-width: 800px) {
  .homepage-box__title {
    font-size: 32px;
    line-height: 1.5;
  }
}
.homepage-box__content {
  background-color: rgba(246, 196, 65, 0.9);
  padding: 12px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50%;
  transition: height 0.3s ease-out;
}
@media screen and (min-width: 800px) {
  .homepage-box__content {
    padding: 20px 10px;
  }
}
.homepage-box:hover .homepage-box__title {
  padding-top: 50px;
}
@media screen and (min-width: 800px) {
  .homepage-box:hover .homepage-box__title {
    padding-top: 78px;
  }
}
.homepage-box:hover .homepage-box__content {
  height: 100%;
}

.homepage-about {
  display: grid;
  gap: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 800px) {
  .homepage-about {
    grid-template-columns: 1fr 1fr;
  }
}
.homepage-about__image {
  width: 100%;
  max-width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .homepage-about__image {
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0;
  }
}

.homepage-partners {
  padding-top: 40px;
}

.slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .slide {
    grid-template-columns: repeat(5, 1fr);
  }
}
.slide img {
  width: 100%;
}

.homepage-news__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}
.homepage-news__title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .homepage-news__title {
    margin-left: 0;
    margin-right: 0;
  }
}

.homepage-news-boxes {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 800px) {
  .homepage-news-boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}

.news-box {
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.news-box__date {
  background-color: #2E3440;
  color: white;
  margin: 0;
  height: 35px;
  padding: 10px 15px;
}
@media screen and (min-width: 800px) {
  .news-box__date {
    height: 45px;
    padding: 15px;
  }
}
.news-box__titlebox {
  min-height: 50px;
  background-color: #F6C441;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
@media screen and (min-width: 800px) {
  .news-box__titlebox {
    height: 90px;
  }
}
.news-box__title {
  color: #4D3A1E;
  margin: 0;
  line-height: 1.2;
}
.news-box__perex {
  margin: 15px;
}
.news-box__content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 135px);
  justify-content: space-between;
}
.news-box--big {
  background-color: #F5F5F5;
  margin-bottom: 30px;
}
.news-box--big .news-box__head {
  display: grid;
}
@media screen and (min-width: 800px) {
  .news-box--big .news-box__head {
    grid-template-columns: 120px 1fr;
  }
}
.news-box--big .news-box__date {
  height: 100%;
}
@media screen and (min-width: 800px) {
  .news-box--big .news-box__date {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.news-box--big .news-box__titlebox {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.news-box--big .news-box__grid {
  display: grid;
  gap: 0;
}
@media screen and (min-width: 800px) {
  .news-box--big .news-box__grid {
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
}
.news-box--big .news-box__grid img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px 20px 0 20px;
  order: -1;
}
@media screen and (min-width: 800px) {
  .news-box--big .news-box__grid img {
    order: 1;
    max-height: 300px;
    padding: 20px 20px 20px 0;
  }
}
.news-box--big .news-box__content {
  height: 100%;
  padding: 5px 0 5px 5px;
}

.news-akce {
  margin-top: 40px;
}
.news-akce .news-box {
  background-color: #F5F5F5;
}

.article-head {
  position: relative;
  display: grid;
}
.article-head h2 {
  text-align: center;
}
@media screen and (min-width: 800px) {
  .article-head h2 {
    margin-right: 230px;
    text-align: left;
  }
}

.article-info {
  background-color: transparent;
  position: relative;
  color: rgba(46, 52, 64, 0.7);
  text-align: center;
  margin-bottom: 0;
  padding: 10px 20px 0px 20px;
  width: 100%;
  display: flex;
  order: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-style: italic;
}
@media screen and (min-width: 800px) {
  .article-info {
    justify-content: space-between;
    gap: 0;
    background-color: #2E3440;
    color: white;
    position: absolute;
    right: 20px;
    top: -60px;
    padding: 0 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    display: block;
    order: -1;
    font-style: normal;
  }
}
.article-info__date {
  font-size: 12px;
  margin: 0;
}
@media screen and (min-width: 800px) {
  .article-info__date {
    font-size: 24px;
    margin: 1em 0;
  }
}
.article-info__autor {
  font-size: 12px;
  margin: 0;
}
@media screen and (min-width: 800px) {
  .article-info__autor {
    font-size: 14px;
    margin: 1em 0;
  }
}
.article-info__br {
  display: none;
}
@media screen and (min-width: 800px) {
  .article-info__br {
    display: inline;
  }
}

.article {
  padding-top: 20px;
  -moz-column-count: 1;
       column-count: 1;
  -moz-column-gap: 40px;
       column-gap: 40px;
  -moz-column-rule: 1px solid #C1BFD1;
       column-rule: 1px solid #C1BFD1;
}
@media screen and (min-width: 800px) {
  .article {
    padding-top: 50px;
    -moz-column-count: 2;
         column-count: 2;
  }
}
.article__foto {
  max-width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 800px) {
  .article__foto {
    max-height: 500px;
    width: 100%;
  }
}
.article__text {
  max-width: 600px;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 800px) {
  .article__text {
    margin: 0;
    margin-top: 20px;
  }
}
.article h1, .article h2, .article h3, .article h4 {
  margin-top: 1.3em;
}

.form {
  background-color: #F5F5F5;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.form h3 {
  background-color: #2E3440;
  color: white;
  padding: 20px;
  margin: 0;
}
.form__formular {
  padding: 20px;
}
.form__formular--members {
  display: grid;
}
@media screen and (min-width: 800px) {
  .form__formular--members {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.form__formular .grid-2 {
  gap: 0;
}
@media screen and (min-width: 800px) {
  .form__formular .grid-2 {
    gap: 20px;
  }
}
.form__pole {
  margin-bottom: 20px;
}
.form__pole label {
  display: block;
  margin-bottom: 10px;
}
.form__pole input, .form__pole textarea, .form__pole select {
  display: block;
  width: 100%;
  background-color: white;
  border: 0;
  border-top: 4px solid #F6C441;
  padding: 10px;
  border-radius: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
.form__pole select, .form__pole ::picker(select) {
  -webkit-appearance: base-select;
     -moz-appearance: base-select;
          appearance: base-select;
}
.form__pole ::picker(select) {
  border: none;
}
.form__pole select {
  padding: 12px;
}
.form__pole select::picker-icon {
  color: #F6C441;
  transition: 0.4s rotate;
}
.form__pole select:open::picker-icon {
  rotate: 180deg;
}
.form__pole option:hover, .form__pole option:focus {
  background-color: #F6C441;
}
.form__pole textarea {
  min-height: 120px;
  resize: vertical;
}
.form__pole--radio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-size: 14px;
}
@media screen and (min-width: 800px) {
  .form__pole--radio {
    grid-template-columns: repeat(3, 1fr);
  }
}
.form__pole--radio .radioinput {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.form__pole--radio .radioinput input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form__pole--radio .radioinput:hover input ~ .checkmark {
  background-color: rgba(246, 196, 65, 0.25);
}
.form__pole--radio .radioinput input:checked ~ .checkmark {
  background-color: #F6C441;
}
.form__pole--radio .radioinput input:checked ~ .checkmark:after {
  display: block;
}
.form__pole--radio .radioinput .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4D3A1E;
}
.form__pole--radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #F6C441;
}
.form__pole--radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.form__pole--checkbox .checkmark {
  border-radius: 0;
}
.form__pole--checkbox .radioinput .checkmark:after {
  left: 4px;
  top: 0px;
  width: 7px;
  height: 12px;
  border: solid #4D3A1E;
  background-color: transparent;
  border-width: 0 3px 3px 0;
  border-radius: 0;
  transform: rotate(45deg);
}
.form--oazks {
  margin-top: 40px;
  padding-bottom: 20px;
}
.form--oazks h3 {
  background-color: #F6C441;
  color: #4D3A1E;
  padding: 15px 20px;
}
.form--oazks h4 {
  background-color: #2E3440;
  color: white;
  padding: 15px 20px;
  margin: 0;
}
.form--oazks ul {
  margin: 0;
  padding: 20px;
  padding-left: 38px;
  font-size: 14px;
}
.form--download {
  display: flex;
  flex-direction: column;
}
.form--download .form__head {
  display: flex;
}
.form--download .form__head h2 {
  background-color: #F6C441;
  color: #4D3A1E;
  padding: 10px 20px;
  margin: 0;
  flex-grow: 1;
  text-align: left;
}
.form--download .form__head p {
  background-color: #2E3440;
  color: white;
  padding: 10px 20px;
  font-size: 22px;
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .form--download .form__head p {
    font-size: 30px;
  }
}
.form--download .form__contain {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.form--download .form__contain p {
  margin: 0;
}
.form--zamkar {
  text-align: center;
}
.form--zamkar h2 {
  background-color: #F6C441;
  color: #4D3A1E;
  padding: 15px 20px 10px 20px;
  margin-bottom: 0;
  text-align: center;
}
.form--zamkar p {
  background-color: #2E3440;
  color: white;
  padding: 10px 20px;
  margin: 0;
  font-size: 20px;
}
.form--kvalifikace h2 {
  background-color: #2E3440;
  color: white;
  padding: 20px 20px 15px 20px;
  margin-bottom: 0;
  text-align: center;
}
.form--kvalifikace .form__date {
  background-color: #F6C441;
  color: #4D3A1E;
  padding: 15px 20px 10px 20px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (min-width: 800px) {
  .form--kvalifikace .form__date {
    font-size: 20px;
  }
}
.form--kvalifikace .form__obsah {
  padding: 20px;
}

.form-thanks {
  text-align: center;
  padding-bottom: 30px;
}
.form-thanks p {
  margin: 30px 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  display: table;
}
.table td, .table th {
  text-align: left;
  padding: 7px 10px;
}
.table tbody {
  font-size: 14px;
}
.table tbody tr:nth-child(odd) {
  background-color: rgba(246, 196, 65, 0.25);
}
.table--akce {
  margin-top: 40px;
}
@media screen and (min-width: 800px) {
  .table--akce {
    margin-top: 0;
  }
}
.table--akce th {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #2E3440;
  padding-top: 40px;
}
.table--akce td:nth-child(2) {
  text-align: center;
}
.table--akce a::after {
  content: " >";
}
.table--members th {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  color: #2E3440;
  padding-top: 40px;
}
.table--members td:first-child {
  font-weight: 600;
}

.responsive-table {
  overflow-x: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.footer-background-1 {
  background-color: #EBEBEB;
  padding: 30px 0 20px 0;
}

.footer-up {
  display: grid;
  gap: 20px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .footer-up {
    grid-template-columns: 3fr 2fr 3fr;
    gap: 30px;
    text-align: left;
  }
}
.footer-up img {
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .footer-up img {
    max-height: 250px;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer-up__navigation a {
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .footer-up__navigation a {
    margin-left: 0;
    margin-right: 0;
  }
}
.footer-up__asociation-title {
  color: #4D3A1E;
  font-weight: 600;
}

.footer-background-2 {
  background-color: #2E3440;
  color: white;
  padding: 20px 0;
}
.footer-background-2 p {
  margin: 0;
  font-size: 12px;
}
@media screen and (min-width: 800px) {
  .footer-background-2 p {
    font-size: 14px;
  }
}
.footer-background-2 a {
  color: inherit;
}
.footer-background-2 a:hover {
  color: #F6C441;
}

.footer-down {
  text-align: center;
}
.footer-down p + p {
  margin-top: 5px;
}
@media screen and (min-width: 800px) {
  .footer-down {
    display: flex;
    justify-content: space-between;
  }
  .footer-down p + p {
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */