@use 'promenne';

.header {
    min-height: 400px;
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(46, 52, 64, 0.5), rgba(46, 52, 64, 0.5)), url(/images/klice.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;

    &__headline {
        text-transform: uppercase;
        color: promenne.$c-hlavni;
        font-size: 48px;
        font-family: promenne.$font-vedlejsi;
        text-align: center;
        line-height: 1.5;
        text-shadow: 5px 5px 10px black;
        display: inline-block;
        margin: 0 50px 0 0;
    }

    &__logo {
        height: 320px;
    }

    &--basic {
        min-height: 110px;
        padding: 0;
        background-image: none;
        background-color: promenne.$c-vedlejsi;
        display: flex;
        justify-content: center;
        align-items: center;

        .header__headline {
            font-size: 30px;
            text-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.5);
            margin-right: 0;
            position: relative;
            top: 10px;
        }

        .header__br {
            display: none;
        }

        .header__logo {
            height: 75px;
        }

        .section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        }
    }
}