@use 'promenne';

nav {
    background-color: promenne.$c-tmavaseda;
    color: white;
    position: sticky;
    top: 0;
    z-index: 99;
}

.menu {
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &__item {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        padding: 14px 0 20px 0;
        border-top: 6px solid transparent;
        transition: border-top 0.3s;

        &:hover, &:focus {
            border-top: 6px solid promenne.$c-hlavni;
            color: inherit;
        }

        &--dropdown {
            font-size: 16px;
            padding: 0;
            display: inline;
            border: none;

            &:hover, &:focus {
            color: promenne.$c-hlavni;
            border: none;
        }
        }

        &--dropdownlink {
            cursor: default;
        }

        &--dropdownlink::after {
            content: "";
            display: inline-block;
            background-image: url(/images/drop.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 15px;
            height: 15px;  
            margin-left: 8px;
        }
    }
}

.dropdown {
    position: relative;

    &__content {
        /* display: none; */
        max-height: 0;
        display: block;
        overflow: hidden;
        position: absolute;
        width: max-content;
        background-image: linear-gradient(to bottom, promenne.$c-tmavaseda, #3c424e 25%);
        box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
        
        z-index: 100;
        transform: translate(-8px, -15px);
        box-sizing: content-box;
        
        transition: max-height 0.3s ease-in-out;
    }

    &:hover .dropdown__content {
        max-height: 100px;       
    }

    &:hover {
         .menu__item--dropdownlink {
            border-top: 6px solid promenne.$c-hlavni;
        }
    }

    &__list {
        list-style-type: square;
        padding: 17px 21px 12px 31px;

        li {
            margin-bottom: 5px;
            
            &::marker {
                color: promenne.$c-hlavni;
            }
        }
    }
}