@use 'promenne';

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    font-family: promenne.$font-hlavni;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.pagewrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4 {
    font-family: promenne.$font-vedlejsi;
    font-weight: 400;
    text-transform: uppercase;
    color: promenne.$c-tmavaseda;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.h3--basic {
        margin-top: 40px;
    }

h4 {
    font-size: 20px;
    margin-bottom: 16px;
}

.underline {
         &::after {
            content: "";
            width: 2.2em;
            height: 2px;
            display: block;
            background-color: promenne.$c-svetlaseda;
            margin-top: 0.5em;
        }
    }

.topmargin50 {
    margin-top: 50px;
}

a {
    color: inherit;

    &:hover {
        color: promenne.$c-tmavaseda;
    }
}

main {
    padding: 40px 0;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
    &--toppadding {
        padding-top: 35px;
    }
}

.grey-wrapper {
    background-color: promenne.$c-pozadisvetlost1;
    padding: 40px 0;
}

.headline-wrapper {
    background-color: promenne.$c-hlavni;
    padding: 20px 0;
    position: relative;

    h2 {
        color: promenne.$c-vedlejsi;
        margin: 0;
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &--g40 {
        gap: 40px;
    }

    img {
        width: 100%;
    }
}