@mixin pc {
    @media screen and (min-width: 800px) {
        @content;
    }
}

$c-hlavni: #F6C441;
$c-vedlejsi: #4D3A1E;
$c-tmavaseda: #2E3440;
$c-svetlaseda: #C1BFD1;
$c-pozadisvetlost1: #F5F5F5;
$c-pozadisvetlost2: #EBEBEB;

$font-hlavni: 'Poppins', sans-serif;
$font-vedlejsi: 'Anton', sans-serif;