@use 'promenne';

.table {
    border-collapse: collapse;
    width: 100%;

    td, th {
        text-align: left;
        padding: 7px 10px;
    }

    tbody {
        font-size: 14px;

        tr:nth-child(odd) {
            background-color: rgba($color: promenne.$c-hlavni, $alpha: 0.25) ;
        }
    }

    &--akce {
        th {
            font-family: promenne.$font-vedlejsi;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            color: promenne.$c-tmavaseda;
            padding-top: 40px;
        }

        td:nth-child(2) {
            text-align: center;
        }

        a::after {
            content: " >";
        }
    }

    &--members {
        th {
            font-family: promenne.$font-vedlejsi;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            color: promenne.$c-tmavaseda;
            padding-top: 40px;
        }

        td:first-child {
            font-weight: 600;
        }
    }
}