</main>

<!-- Začátek footeru -->

<footer class="footer">
    <div class="footer-background-1">
        <div class="section footer-up">
            <img src="/images/logo.svg" alt="logo">

            <div class="footer-up__navigation">
                <h3>Navigace</h3>
                <a href="">Úvod</a>
                <a href="">Aktuality</a>
                <a href="">Informace o AZKS</a>
                <a href="">Ke stažení</a>
                <a href="">Kontakty</a>
                <a href="">Časopis Zámkař</a>
                <a href="">Školení, exkurze a výstavy</a>
                <a href="">Profesní kvalifikace</a>
                <a href="">Seznam členů</a>
                <a href="">Staňte se členem</a>
            </div>

            <div>
                <h3>Kontakt</h3>
                <p class="footer-up__asociation-title">Asociace zámkových a klíčových služeb České republiky, z.s.</p>
                <p>IČ: 22761632 <br>
                Bankovní spojení: Moneta Bank č.ú. 205189732/060 <br>
                Telefon: +420602374405 <br>
                Mobil: +420602784393 <br>
                Email: info@azks.cz <br>
                Adresa: Asociace zámkových a klíčových služeb ČR, z.s., Česká 180, Česká, 664 31</p>
            </div>
        </div>
    </div>

    <div class="footer-background-2">
        <div class="section footer-down">
            <p><a href="">Ochrana osobních údajů</a></p>
            <p>© AZKS 2025</p>
            <p>Webdesign: <a href="">Jana Levá</a></p>
        </div>
    </div>

</footer>
</div>

<!-- Konec footeru -->

</body>
</html>