</main>

<!-- Začátek footeru -->

<footer class="footer">
    <div class="footer-background-1">
        <div class="section footer-up">
            <img src="/images/logo.svg" alt="logo">

            <div class="footer-up__navigation">
                <h3>Navigace</h3>
                <a href="/">Úvod</a>
                <a href="/aktuality/">Aktuality</a>
                <a href="/informace-o-azks/">Informace o AZKS</a>
                <a href="/ke-stazeni/">Ke stažení</a>
                <a href="/kontakty/">Kontakty</a>
                <a href="/casopis-zamkar/">Časopis Zámkař</a>
                <a href="/skoleni-exkurze-vystavy/">Školení, exkurze a výstavy</a>
                <a href="/profesni-kvalifikace/">Profesní kvalifikace</a>
                <a href="/seznam-clenu/">Seznam členů</a>
                <a href="/stante-se-clenem/">Staňte se členem</a>
            </div>

            <div>
                <h3>Kontakt</h3>
                <p class="footer-up__asociation-title">Asociace zámkových a klíčových služeb České republiky, z.s.</p>
                <p>IČ: 22761632 <br>
                Bankovní spojení: Moneta Bank č.ú. 205189732/060 <br>
                Telefon: +420602374405 <br>
                Mobil: +420602784393 <br>
                Email: <a href="mailto:info@azks.cz">info@azks.cz</a> <br>
                Adresa: Asociace zámkových a klíčových služeb ČR, z.s., Česká 180, Česká, 664 31</p>
            </div>
        </div>
    </div>

    <div class="footer-background-2">
        <div class="section footer-down">
            <p><a href="#">Ochrana osobních údajů</a></p>
            <p>© AZKS 2025</p>
            <p>Webdesign: <a href="mailto:krat.jana7@gmail.com">Jana Levá</a></p>
        </div>
    </div>

</footer>
</div>

<!-- Konec footeru -->

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>