<header class="header header--basic">
    <div class="section">
        <p class="header__headline">Asociace zámkových<br class="header__br">
            a klíčových služeb<br class="header__br">
            České republiky
        </p>

        <img class="header__logo" src="/images/logo-bez-textu.svg" alt="logo AZKS">
    </div>
</header>

</div>