<header class="header">
    <p class="header__headline">Asociace zámkových<br>
        a klíčových služeb<br>
        České republiky</p>
    <img class="header__logo" src="/images/logo-bez-textu.svg" alt="logo AZKS">
</header>