<!-- Začátek menu -->

<nav>
    <ul class="menu">
        <li><a class="menu__item" href="">Úvod</a></li>
        <li><a class="menu__item" href="">Aktuality</a></li>
        <li class="dropdown">
            <span class="menu__item menu__item--dropdownlink" href="">O nás</span>
            <div class="dropdown__content">
                <ul class="dropdown__list">
                    <li><a class="menu__item menu__item--dropdown" href="">Informace o AZKS</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="">Ke stažení</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="">Kontakty</a></li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <span class="menu__item menu__item--dropdownlink" href="">Naše aktivity</span>
            <div class="dropdown__content">
                <ul class="dropdown__list">
                    <li><a class="menu__item menu__item--dropdown" href="">Časopis Zámkař</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="">Profesní kvalifikace</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="">Školení, exkurze a výstavy</a></li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <span class="menu__item menu__item--dropdownlink" href="">Členství</span>
            <div class="dropdown__content">
                <ul class="dropdown__list">
                    <li><a class="menu__item menu__item--dropdown" href="">Staňte se členem</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="">Seznam členů</a></li>
                </ul>
            </div>
        </li>
        <li><a class="menu__item" href="">Kontakty</a></li>
    </ul>
</nav>

<!-- Konec menu -->

<main>