<!-- Začátek menu -->

<nav>
    <ul class="menu">
        <li><a class="menu__item" href="/">Úvod</a></li>
        <li><a class="menu__item" href="/aktuality/">Aktuality</a></li>
        <li class="dropdown">
            <span class="menu__item menu__item--dropdownlink" href="">O nás</span>
            <div class="dropdown__content">
                <ul class="dropdown__list">
                    <li><a class="menu__item menu__item--dropdown" href="/informace-o-azks/">Informace o AZKS</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="/ke-stazeni/">Ke stažení</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="/kontakty/">Kontakty</a></li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <span class="menu__item menu__item--dropdownlink" href="">Naše aktivity</span>
            <div class="dropdown__content">
                <ul class="dropdown__list">
                    <li><a class="menu__item menu__item--dropdown" href="/casopis-zamkar/">Časopis Zámkař</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="/profesni-kvalifikace/">Profesní kvalifikace</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="/skoleni-exkurze-vystavy/">Školení, exkurze a výstavy</a></li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <span class="menu__item menu__item--dropdownlink" href="">Členství</span>
            <div class="dropdown__content">
                <ul class="dropdown__list">
                    <li><a class="menu__item menu__item--dropdown" href="/stante-se-clenem/">Staňte se členem</a></li>
                    <li><a class="menu__item menu__item--dropdown" href="/seznam-clenu/">Seznam členů</a></li>
                </ul>
            </div>
        </li>
        <li><a class="menu__item" href="/kontakty/">Kontakty</a></li>
    </ul>
</nav>

<!-- Konec menu -->

</div>

<main>